// Camelcase para nombrar las variables (permiten almacenar una información para luego reutilizarla)
// $variablename: value;

// Colors
$primaryColor: #F98948;
$secondaryColor:#9B8816;
$accentColor: #F9EA9A;
$darkBrownColor:#5D3A00;
$lightBrownColor: #684E32;

// Tipografía




